<!-- prettier-ignore -->
{% extends "base/base.html" %}

{% block title %}Login{% endblock %}

{% block custom_style %}
<style>
  html,
  body {
    height: 100%; /* Required for vertical centering */
  }
</style>
{% endblock %}

<!-- prettier-ignore -->
{% block center_body %} 
d-flex justify-content-center align-items-center
{% endblock %}

<!-- prettier-ignore -->
{% block content %}

<div
  class="bg-primary-subtle p-5 border rounded rounded-lg d-grid justify-content-center align-items-center"
>
  <div class="log-div">
    <h1 class="text-center">Login</h1>
    <form method="post" class="d-grid gap-2" novalidate>
      {% csrf_token %} {% for field in form %}
      <div>{{ field }}</div>
      {% endfor %}

      <!-- prettier-ignore -->
      {% if form.errors %}
      <div class="alert alert-danger">
        {% for field, errors in form.errors.items %} {% for error in errors %}
        <p><strong>{{ field|capfirst }}</strong>: {{ error }}</p>
        {% endfor %} {% endfor %} {% for error in form.non_field_errors %}
        <p>{{ error }}</p>
        {% endfor %}
      </div>
      {% endif %}

      <div class="row mt-3">
        <button class="col btn btn-log btn-primary mx-1" type="submit">
          Login
        </button>
        <span
          class="col btn btn-primary mx-1"
          onclick="location.href = '/signup';"
        >
          Sign Up
        </span>
      </div>
    </form>
  </div>
</div>

{% endblock %}
