<!-- prettier-ignore -->
{% extends "base/base.html" %}

{% block title %}Map Test{% endblock %}

{% block content %}
<div id="mymap" style="height: 550px"></div>
<div>
  <button onclick="removeMarker()">Reset Lang</button>
  <p>Latitute: <span id="lat_span"></span></p>
  <p>Longitude: <span id="lon_span"></span></p>
</div>
<script>
  const latEl = $("lat_span");
  const lonEl = $("lon_span");

  let map = L.map("mymap").setView([51.505, -0.09], 13);
  L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
    maxZoom: 19,
    attribution:
      '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
  }).addTo(map);

  let marker = {};

  function latLongValueEdit(lat = null, lon = null) {
    latEl.textContent = lat;
    lonEl.textContent = lon;
  }

  function removeMarker() {
    if (marker != undefined) {
      map.removeLayer(marker);
    }
    latLongValueEdit();
  }

  function onMapClick(e) {
    let lat = e.latlng.lat;
    let lon = e.latlng.lng;

    removeMarker();

    marker = L.marker([lat, lon]).addTo(map);
    latLongValueEdit(lat, lon);
  }

  map.on("click", onMapClick);
</script>
{% endblock %}
